<!DOCTYPE html>
<html lang="en">
	<%- include('_partials/head', title='Chat'); -%>
	<body>
		<%- include('_partials/header', { auth }); -%>
		Body
		<%- include('_partials/footer'); -%>
	</body>
</html>
