<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign up</title>
</head>
<body>
	<form action="" method="post">
		<input type="email" name="email">
		<input type="date" name="bday">
		<input type="text" name="userName">
		<input type="password" name="password">
		<input type="password" name="confirmPassword">
		<input type="submit" value="Sign Up">
	</form>
</body>
</html>
