<!DOCTYPE html>
<html lang="en">
	<%- include('_partials/head', title='Users'); -%>
	<body>
		<%- include('_partials/header', { auth }); -%>
		<section class="users-section">
			<ul class="users-list">
				
			</ul>
		</section>
		<%- include('_partials/footer'); -%>
	</body>
</html>
